.c-sidebar .c-sidebar-brand,
.c-sidebar .c-sidebar-header{
    background-color:#f2f2f2;
}

.c-sidebar .c-sidebar-brand,
.c-sidebar .c-sidebar-nav-title{
  color:#000;
}

.c-sidebar.c-sidebar-fixed{
  box-shadow:0 0 8px rgba(255,255,255,0.5)
}

.c-sidebar-nav .c-sidebar-nav-item,
.c-sidebar{
  background-color: #FFF;
}

.c-sidebar-nav .c-sidebar-nav-item a{
  color:#000;
}

.c-sidebar .c-sidebar-nav-link.c-active,
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle{
  background-color:#c3eaea;
  color:#000;
}

.c-sidebar .c-sidebar-nav-link:hover,
.c-sidebar .c-sidebar-nav-dropdown-toggle:hover{
  background-color:#a5dfdf;
  color:#000;
}

.c-icon:not(.c-icon-c-s):not(.c-icon-custom-size).c-icon-lg{
  width: 1.25em;
  height: 1.25em;
  font-size: 25px;
}

.linha{
  border-color:#47b8b2;
}

html .btn-primary{
  background-color:#47b8b2 !important;
  border-color:#47b8b2 !important;
}

html .btn-primary:hover,
html .btn-primary:focus,
html .btn-primary:active{
  background-color:#39938e !important;
  border-color:#39938e !important;
  box-shadow:none !important;

}

html .c-header-nav .dropdown-item.active,
html .c-header-nav .dropdown-item:active{
  background-color:#47b8b2 !important;
}